   // &encoder_1_top_row {
   //      steps = <24>;
   //  };

   &encoder_1 {
        steps = <92>;
    };

   /* dentless encoder */
   &encoder_2 {
        steps = <92>;
    };

    /* dentless encoder */
   &encoder_3 {
        steps = <92>;
    };

   &encoder_4 {
        steps = <92>;
    };

    &sensors {
        triggers-per-rotation = <24>;


    };
